<div class="page-header">

    <h1>How to use:</h1>

    <div class="container">
        <h3>
            Registration and login:
        </h3>
        <h4>
            <ol>
                <li>Fill in the fields in the registration form;</li>
                <li>Make sure the fields are unique;</li>
                <li>After successful registration, please log in.</li>
            </ol>
        </h4>
        <h3> Add notes:</h3>
        <h4>
            <ol>
                <li>After successful login you will be redirected to notes list;</li>
                <li>On this page you can see all notes;</li>
                <li>In the navigation panel, you can select "Add new note" to add a new note.</li>
            </ol>
        </h4>
        <h3> Editing of notes:</h3>

        <p> You have permission: admin or uploader</p>
        <dl>
            <dt>admin</dt>
            <dd>- have all possible abilities: for notes(add, edit, delete), for user management (edit name and email,
                change permission of users);
            </dd>
            <dt>user</dt>
            <dd>- see all notes and add new;</dd>
        </dl>

        <h4> For other details, please visit <a href="https://github.ibm.com/econfigCloudModeling/Dashboard/blob/master/README.md">README.md</a>
        </h4>
    </div>
</div>