<div class="page-header">

    <h1>Home page</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Release notes</th>
                <th><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>Versions</th>
                <th><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>Models</th>
                <th><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">fcvg</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>
