<div class="page-header">

    <h3>Profile page</h3>
    <table class="table table-hover">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Name:</th>
            <th><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Email:</th>
        </tr>
        </thead>
        <tbody>
        <tr>

            <td>{{main.username}}</td>
            <td>{{main.useremail}}</td>
        </tr>

        </tbody>
    </table>
</div>
