<div class="container">
    <div class="page-header">
        <h1>User Registration</h1>
    </div>

    <form class="form-signin" ng-submit="register.regUser(regData);">
        <h3 class="form-signin-heading">Please, fill out the fields:</h3>
        <label>Email address</label>
        <input class="form-control" type="email" name="email" placeholder=" E-mail" ng-model="register.regData.email"
               required="true">
        <br>
        <!-- Username -->
        <label>Username:</label>
        <input class="form-control" type="text" name="username" placeholder="Username"
               ng-model="register.regData.username" required="true">
        <br>
        <!-- Password -->
        <label>Password:</label>
        <input class="form-control" type="password" name="password" placeholder="Password"
               ng-model="register.regData.password">
        <br>
        <!-- Submit/Register Button -->
        <button class="btn btn-primary" type="submit">Register</button>
    </form>


    <br>

    <!-- Successful Registration Message -->
    <div class="row show-hide-message" ng-show="register.successMsg">
        <div class="alert alert-success">{{ register.successMsg }}</div>
    </div>
    <!-- Successful Registration Message -->

    <br>

    <!-- Failed Registration Message -->
    <div class="row show-hide-message" ng-show="register.errorMsg">
        <div class="alert alert-danger">{{ register.errorMsg }}</div>
    </div>
    <!-- Failed Registration Message -->

</div>
