<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Add New Note</p>
    </div>
    <div class="panel-body">
        <form ng-submit="addNote()">
            <div class="form-group">
                <label for="name">Notes:</label>
                <input type="text" class="form-control" id="name" ng-model="note.name" required="true">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea rows="10" cols="30" type="text" class="form-control" id="description"
                          ng-model="note.description"></textarea>
            </div>
            <div class="form-group">
                <label for="link">Link:</label>
                <input type="text" class="form-control" id="link" ng-model="note.link" required="true">
            </div>
            <div class="form-group">
                <label for="model">Build:</label>
                <input type="text" class="form-control" id="model" ng-model="note.model" required="true">

                <div class="form-group">
                    <label for="linkModel">Link to Build: </label>
                    <input type="text" class="form-control" id="linkModel" ng-model="note.linkModel" required="true">
                </div>
                <div class="form-group">
                    <label for="sbe">SBE:</label>
                    <input type="text" class="form-control" id="sbe" ng-model="note.sbe" required="true">
                </div>
                <div class="form-group">
                    <label for="sbeLink">Link to SBE:</label>
                    <input type="text" class="form-control" id="sbeLink" ng-model="note.sbeLink" required="true">
                </div>
                <div class="form-group">
                    <label for="version">Version :</label>
                    <input type="text" class="form-control" id="version" ng-model="note.version">
                </div>
                <div class="checkbox">
                    <label>
                        <input name="sendEmail" ng-model="note.sendEmail" type="checkbox">Send Email
                    </label>
                </div>

                <button type="submit" style="color:#5bc0de;" class="btn btn-default">Save</button>
                <a href="/notes" class="btn btn-default"> Cancel</a>

            </div>
        </form>
    </div>
</div>