<div class="panel panel-default">
    <div class="panel-heading">
        <p class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> Add New Note</p>
    </div>
    <div class="panel-body">
        <form ng-submit="addNote()">
            <div class="form-group">
                <label for="name">Notes:</label>
                <input type="text" class="form-control" id="name" ng-model="note.name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" ng-model="note.description">
            </div>
            <div class="form-group">
                <label for="link">Link:</label>
                <input type="text" class="form-control" id="link" ng-model="note.link">
            </div>
            <div class="form-group">
                <label for="model">Models:</label>
                <input type="text" class="form-control" id="model" ng-model="note.model">
                <div class="form-group">
                    <label for="version">Version :</label>
                    <input type="text" class="form-control" id="version" ng-model="note.version">
                    <div class="form-group">
                        <label for="dateUpload">Date uploaded :</label>
                        <input type="text" class="form-control" id="dateUpload" ng-model="note.dateUpload">
                    </div>
                    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Save</button>
                    <a href="/notes" class="btn btn-default"> Cancel</a>
        </form>
    </div>
</div>