<div class="panel panel-default" ng-init="showNote()">
    <div class="panel-heading">
        <p class="panel-title"><span style="color:#5bc0de;"class="glyphicon glyphicon-edit"> </span> Edit Note</p>
    </div>
    <div class="panel-body">
        <form  ng-submit="updateNote()">
            <div class="form-group">
                <label for="name">Notes:</label>
                <input type="text" class="form-control" id="name" ng-model="note.name" value="note.name">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" class="form-control" id="description" ng-model="note.description" value="note.description">
            </div>
            <div class="form-group">
                <label for="link">Link:</label>
                <input type="text" class="form-control" id="link" ng-model="note.link" value="note.link">
            </div>
            <div class="form-group">
                <label for="model">Models :</label>
                <input type="text" class="form-control" id="model" ng-model="note.model" value="note.model">
                <div class="form-group">
                    <label for="version">Version :</label>
                    <input type="text" class="form-control" id="version" ng-model="note.version" value="note.version">
                    <div class="form-group">
                        <label for="dateUpload">Date uploaded :</label>
                        <input type="text" class="form-control" id="dateUpload" ng-model="note.dateUpload" value="note.dateUpload">
                    </div>
                    <button type="submit" style="color:#5bc0de;" class="btn btn-default">Update</button>
                    <a href="/notes" class="btn btn-default"> Cancel</a>
        </form>
    </div>
</div>