<div class="table-responsive" ng-init="getNotes()">

    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Release Notes:</strong>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th><span class="glyphicon glyphicon-file" aria-hidden="true"></span>Release Note:</th>
                <th><span class="glyphicon glyphicon-file"></span>Build:</th>
                <th>SBE:</th>
                <th><span class="glyphicon glyphicon-flag"></span>Version</th>
                <th><span class="glyphicon glyphicon-calendar"></span> Date</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="note in notes | orderBy : '-version'">
                <td>
                    <a href="/notes/{{note._id}}/show" class="btn btn-link"> Show </a>
                    <a href="{{ note.link }}"><span class="glyphicon glyphicon-link"></span>  </a>
                </td>
                <td>
                    {{note.model}}
                    <a href="{{note.linkModel}}"> <span class="glyphicon glyphicon-link"></span> </a>
                </td>
                <td>
                    {{note.sbe}}
                    <br>
                    <a href="{{note.sbeLink}}"><span class="glyphicon glyphicon-link"></span> </a>
                </td>
                <td>{{ note.version}}</td>
                <td>
                    {{note.created_at}}
                    <br>
                    {{note.uploader}}
                </td>
                <td>
                    <a href="/notes/{{note._id}}/show" class="btn btn-info"> Show </a>
                    <br>
                    <a ng-show="main.isLoggedIn && main.authorized" href="/notes/{{note._id}}/edit"
                       class="btn btn-success"><span class="glyphicon glyphicon-edit"> </span> Edit </a>
                    <br>
                    <a ng-show="main.isLoggedIn && main.authorized" ng-click="deleteNote(note._id)"
                       class="btn btn-danger"><span class="glyphicon glyphicon-trash"> </span> Delete </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
