<div class="panel panel-default" ng-init="showNote()">
    <div class="panel-heading">
        <p class="panel-title"> Notes Detail Information</p>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="form-control">Note: {{ note.name }}</label>
                <label for="description">Description:</label>
                <textarea rows="10" cols="30" type="text" class="form-control" id="description" readonly="true"> {{note.description}}</textarea>
                <label class="form-control">Link to Note: <a href="{{ note.link }}" target="_blank">{{ note.link }} </a></label>
                <label class="form-control">Build: {{ note.model }}</label>
                <label class="form-control">Link to Build: <a href="{{note.linkModel}}" target="_blank"> {{note.linkModel}}</a></label>
                <label class="form-control">SBE: {{note.sbe}}</label>
                <label class="form-control">Link to SBE: <a href="{{note.sbeLink}}" target="_blank"> {{note.sbeLink}}</a></label>
                <label class="form-control">Version: {{ note.version }}</label>
                <label class="form-control">Date uploaded: {{ note.created_at }}</label>
                <a href="/notes" class="btn btn-default"> Cancel</a>
            </div>
        </form>
    </div>

    <!--<div class="modal-content">-->
        <!--<div class="modal-header" style="padding:35px 50px;">-->
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <!--<h4><span class="glyphicon glyphicon-envelope"></span> Send email</h4>-->
        <!--</div>-->
        <!--<div class="modal-body" style="padding:40px 50px;">-->
            <!--<form role="mailForm" ng-submit="sendMail()">-->
                <!--<div class="form-group">-->
                    <!--<label for="from"><span class="glyphicon glyphicon-user"></span> From:</label>-->
                    <!--<input type="email" class="form-control" id="from" value="{{main.useremail}}">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="to">To:</label>-->
                    <!--<input type="text" class="form-control" id="to" placeholder="Enter emails">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="subject">Subject:</label>-->
                    <!--<input type="text" class="form-control" id="subject" placeholder="Enter subject"-->
                           <!--value="New build &laquo;{{note.model}}&raquo; is available">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="text">Text:</label>-->
                    <!--<textarea rows="4" cols="30" type="text" class="form-control" id="text">Hello. New build {{ note.model }} is available in box: {{note.linkModel}}; Release notes:  {{ note.name }} link: {{ note.link }}; SBE version: {{note.sbe}} link: {{note.sbeLink}}-->
                    <!--</textarea>-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-primary"></span>Send</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

</div>

