<div class="panel panel-default" ng-init="showNote()">
    <div class="panel-heading">
        <p class="panel-title"> Notes Detail Information</p>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="form-control">Note: {{ note.name }}</label>
                <label class="form-control">Description: {{ note.description }}</label>
                <label class="form-control">Link: {{ note.link }}</label>
                <label class="form-control">Version: {{ note.version }}</label>
                <label class="form-control">Models: {{ note.model }}</label>
                <label class="form-control">Date uploaded: {{ note.created_at }}</label>
                <a href="/notes" class="btn btn-default"> Cancel</a>
            </div>
        </form>
        </div>
</div>