<div class="panel panel-default" ng-init="showNote()">
    <div class="panel-heading">
        <p class="panel-title"> Notes Detail Information</p>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="form-control">Note: {{ note.name }}</label>

                <label for="description">Description:</label>
                <textarea  rows="10" cols="30" type="text" class="form-control" id="description" readonly="true"> {{note.description}}</textarea>
                <label class="form-control">Link: {{ note.link }}</label>
                <label class="form-control">Version: {{ note.version }}</label>
                <label class="form-control">Build: {{ note.model }}</label>
                <label class="form-control">Link to Build: {{note.linkModel}}</label>
                <label class="form-control">SBE: {{note.sbe}}</label>
                <label class="form-control">Link to SBE: {{note.sbeLink}}</label>
                <label class="form-control">Date uploaded: {{ note.created_at }}</label>
                <a href="/notes" class="btn btn-default"> Cancel</a>
            </div>
        </form>
        </div>
</div>